
body
	{
		margin:0;
		font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.428571429;
		color:#333;
		background-color:#3F857E;
		display: block;
	}

nav
	{
		display: block;
		background: rgb(47,104,101);
	  box-shadow: rgba(0,0,0,0.5) 0px 5px 5px;
		border-radius: 5px;
		position: relative;
  	min-height: 41px;
  	padding-right: 15px;
  	padding-left: 15px;
	}





nav ul li {
  display: inline-block;
  margin: 0 1em 0 0;
  text-decoration: none;
}




.principal {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;

}

.active{
		text-decoration: none;
	    float: left;
	    position: relative;
  		display: block;
  		margin: 0;
  		text-align: -webkit-match-parent;
  		-webkit-transition:.3s;
}

.active:hover{
	background: #fff;

}

.principal:hover{
	color: rgb(47,104,101);
	text-decoration: none;
}



.columna1{
	background: rgb(235,241,240);;
	border-radius: 15%;
	padding-left: 2%;
	margin:1.5% 18%;
	width: 60%;
	float: left;
	position: relative;
  min-height: 1px;
  padding-right: 15px;
  display: block;

}

.contenido{
  display: inline-block;
  width: 100%
}






.container {

  margin-right: auto;
  margin-left: auto;
  background: rgb(235,241,240);
  box-shadow: rgba(0,0,0,0.5) 0px 0px 70px;
  width: 80%
}

.cuadros{
	margin-top: 10px;
	background: #ffffff;
	padding:7px; 
	border: 1px dotted #3F857E;;
  margin-bottom: 20px;
  display: block;
	
}

.boton{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #BDBDBD;
  border-radius: 4px;

}

.boton:hover{
  background:#E6E6E6; 
}

.label2{
  width: 18%; 
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: default;
}

.input{
  display: inline-block;
  height: 14px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}




.img-circulo{
  width: 90%;
  margin: 10px 5%;
  border-radius: 50%;
  vertical-align: middle;
  border: 0;
}


.logo{
	background: rgb(235,241,240);
  display: inline-block;
  width: 30%;
  margin-bottom: 1%;

}





.menu_principal{
	padding-left: 0;
  	margin-bottom: 0;
  	list-style: none;
  	margin-top: 0;
}

.nombre{
  display: inline-block;
  padding-bottom: 25px;
  padding-top: 20px;
  margin: 0px 0 20px 15px;
  border-bottom: 2px solid #3F857E;
  width: 60%
}



.derecha{
    float: right!important;
}

.label2{
  width: 15%; 
}

.sesion_formulario{
  margin-bottom: 15px;
}




