 body
	{
		margin:0;
		font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.428571429;
		color:#333;
		background-color:#3F857E;
		display: block;
	}

div{
  display: block;
}

nav
	{
		display: block;
		background: rgb(47,104,101);
	    box-shadow: rgba(0,0,0,0.5) 0px 5px 5px;
		border-radius: 5px;
		position: relative;
  	min-height: 41px;
  	padding-right: 15px;
  	padding-left: 15px;
	}

h1
{
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	display: block;
}

h1 small{
	font-size: 50%;
	line-height: 1;
	color: rgb(103,103,103);
	font-weight: bolder;
	display: block;

}

h3{
    text-align: center;
    color: #468847;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

h4{
  text-shadow: 0px 0px 8px #fff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:bolder;
  line-height: 1.1;
  color: inherit;
  display: block;
}

nav ul li {
  display: inline-block;
  margin: 0 1em 0 0;
  text-decoration: none;
}

#agregar_actividad{
  display: none;
}

#consultar_actividad{
  display: none;
}

#editar_personal{
  display: none;
}

#agregar_profesionales{
  display: none;
}

#profesionales{
  display: none;
}


.agregar{
  display: none;
}

.consultar{
  display: none;
}

.eliminar{
  display: none;
}


.principal {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;

}

.active{
		text-decoration: none;
	    float: left;
	    position: relative;
  		display: block;
  		margin: 0;
  		text-align: -webkit-match-parent;
  		-webkit-transition:.3s;
}

.active:hover{
	background: #fff;

}


.boton{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #BDBDBD;
  border-radius: 4px;

}

.boton:hover{
  background:#E6E6E6; 
}

.principal:hover{
	color: rgb(47,104,101);
	text-decoration: none;
}



.columna1{
	background: rgb(235,241,240);;
	border-radius: 15%;
	padding-left: 2%;
	margin: 1.5%;
	width: 54%;
	float: left;
	position: relative;
  min-height: 1px;
  padding-right: 15px;
  display: block;

}

.contenido{
  display: inline-block;
  width: 100%;
}

.datos_personales{

    width: 100%;
    position: relative;
}

.datos{
	font-size: 14px;
	font-weight: bolder;
	color: #3F857E;
}

.datos_profesionales{
	width: 100%;
    position: relative;
}

.importante{
	font-size: 12px;
	color: #A53A42;
	font-weight: bolder;
}

.agenda_titulo{
	margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20%;
    height: 70px;
    border-radius: 15%
}

.buscar{
	width: 100%;
    position: relative;
}

.cambia_contrasena{
  display: none;
}

.columna2{

     width: 35%;
	   float: left;
	   position: relative;
     min-height: 1px;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: 1.5%;
     margin-top: 1.5%;

}

.columna3{
	background: rgb(235,241,240);;
	border-radius: 15%;
	padding-left: 2%;
	margin: 1.5%;
	width: 30%;
	float: left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
}

.container {

  margin-right: auto;
  margin-left: auto;
  background: rgb(235,241,240);
  box-shadow: rgba(0,0,0,0.5) 0px 0px 70px;
  width: 80%
}

.cuadros{
	margin-top: 10px;
	background: #ffffff;
	padding:7px; 
	border: 1px dotted #3F857E;;
  margin-bottom: 20px;
	
}


.div_agenda{
	margin-top: 20px;
  padding-top: 40px;
	padding-bottom: 26px;
  border-bottom: 2px solid #3F857E;
  border-top: 2px solid #3F857E;
}

.elimina_perfil{
  display: none;
}


.estudios1{

  padding-left: 20;
  width: 35%;
  list-style: none;
}

.estudios a{
  border-radius: 4px;
  color: #fff;
  background-color: #3F857E;
  border-radius: 4px;
  position: relative;
  display: block;
  margin-bottom: 10px;
  margin-left: 40%;
  padding: 10px 15px;
}

.estudios a:hover{
  color: #3F857E;
}



.img-circulo{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  vertical-align: middle;
  border: 0;
}

.input{
  display: inline-block;
  height: 14px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  margin-left: 3%;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.label2{
  width: 18%; 
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: default;
}

.label3{
  width: 12%; 
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: default;
}

.lista{
  list-style: none;
  padding-left: 25%;
}

.logo{
  padding-left: 1%;
	background: rgb(235,241,240);
  display: inline-block;
  width: 32%;
  margin-bottom: 1%;

}

.menu_agenda{
  color: #fff;
  background-color: #3F857E;
  border-radius: 4px;
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.menu_principal{
	padding-left: 0;
  	margin-bottom: 0;
  	list-style: none;
  	margin-top: 0;
}

.nombre{
  display: inline-block;
  padding-bottom: 25px;
  padding-top: 20px;
  padding-left: 5%;
  margin: 0px 0 20px 15px;
  border-bottom: 2px solid #3F857E;
  width: 58%
}

.select{
  display: inline-block;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  margin-left: 3%;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.seleccionado{

	background: #fff;
	color: #3F857E;
}

.sesion_formulario{
  margin-bottom: 15px;
}

.solicitud{
  width: 55%;
  text-decoration: none;
}

.solicitud a{
  color: #fff;
  background-color: #3F857E;
  border-radius: 4px;
  position: relative;
  display: block;
  margin-bottom: 10px;
  margin-left: 25px;
}

.derecha{
    float: right!important;
}


.titulos{
	margin-top: 20px;
	box-shadow: rgba(0,0,0,0.5) 0px 5px 5px;
}


.ul_agenda{
	padding-left: 20%;
	padding-right: 20%;
}

.ul_agenda li:first-child{
	margin-left: 7px;
}

.ul_agenda li:last-child{
	margin-left: 6px;
}




